.layer1 path {fill: #88a782; display: inline;}
.layer2 path {fill: #a87f7f; display: inline;}
.layer3 path {fill: #FCBF49; display: inline;}
.layer4 path {fill: #406cff; display: inline;}
.layer5 path {fill: #afff54; display: inline;}
.layer6 path {fill: #d2ff68; display: inline;}
.layer7 path {fill: #46ff5f; display: inline;}
.layer8 path {fill: #41ffb6; display: inline;}
.layer9 path {fill: #47cbff; display: inline;}
.layer10 path {fill: #e356ff; display: inline;}
.layer11 path {fill: #444444; display: inline;}
