.layer1 {fill: #88a782; display: inline;}
.layer2 {fill: #a87f7f; display: inline;}
.layer3 {fill: #FCBF49; display: inline;}
.layer4 {fill: #406cff; display: inline;}
.layer5 {fill: #afff54; display: inline;}
.layer6 {fill: #d2ff68; display: inline;}
.layer7 {fill: #46ff5f; display: inline;}
.layer8 {fill: #41ffb6; display: inline;}
.layer9 {fill: #47cbff; display: inline;}
.layer10 {fill: #e356ff; display: inline;}
.layer11 {fill: #444444; display: inline;}
