svg {
    shape-rendering: optimizeSpeed;
}

path {
    pointer-events: all;
    outline: none !important;
    transition: none !important;
}

.highlight {
    fill: red !important;
    stroke: #FF4500 !important;
    stroke-width: 0.2;
}


.layer1 path  { fill: #88a782; }
.layer2 path  { fill: #a87f7f; }
.layer3 path  { fill: #FCBF49; display: none; }
.layer4 path  { fill: #406cff; display: none; }
.layer5 path  { fill: #afff54; display: none; }
.layer6 path  { fill: #d2ff68; display: none; }
.layer7 path  { fill: #46ff5f; display: none; } 
.layer8 path  { fill: #41ffb6; display: none; }
.layer9 path  { fill: #47cbff; display: none; }
.layer10 path { fill: #e356ff; display: none; }
.layer11 path { fill: #444444; }

/* .layer1 path {fill: #88a782;}
.layer2 path {fill: #a87f7f;}
.layer3 path {fill: #FCBF49;}
.layer4 path {fill: #406cff;}
.layer5 path {fill: #afff54;}
.layer6 path {fill: #d2ff68;}
.layer7 path {fill: #46ff5f;}
.layer8 path {fill: #41ffb6;}
.layer9 path {fill: #47cbff;}
.layer10 path {fill: #e356ff;}
.layer11 path {fill: #444444;} */